@import "mixins";

.overlay {
    background-color:rgba(255, 255, 255, 0.8);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    backdrop-filter: blur(1.5px);
}

.content {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.description {
    color: rgba(0, 0, 0, 0.54);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@include desktop(){
    .container{
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
        border-radius: 16px;
        padding: 32px;
    }

    .buttons-container{
        flex-direction: row-reverse;
    }
}


@include desktop(){
    .content {
        width: 450px;
        height: fit-content;
    }
}